.about
    .about__img
        img(src="images/photo.png" alt="photo")

    
    form(action="#", method="post").about-form
        
        label(for="name")
            input(
                type="text"
                name="name"
                id="name"
                placeholder="Евгений"
                minlength="2"
                maxlength="20"
            )
        label(for="age")
            input(
                type="number"
                name="age"
                id="age" placeholder="24.05.1986"
                maxlength="10"
            )
        label(for="city")
            input(
                type="text"
                name="city"
                id="city"
                placeholder="Москва"
                maxlength="20"
            )
        label(for="contact")
            input.about__input(
                type="tel"
                name="contact"
                id="contact"
                placeholder="8-915-302-4440"
            )

    .about__approved
        img(src="images/approved.png" alt="approved")